<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Craft Items</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div id="section-create-new" class="row align-items-center justify-content-center" >
<h3>Create new Items</h3>
</div>
<div class="row align-items-center justify-content-center" >
<form th:action="@{/craft/create}"  class="form-group" method="post" id="itemSelection">
    <div class="form-row align-items-center">
    <select name="itemName" class="form-control">
        <option  selected="selected" >-- Select Item --</option>

        <option th:each="itemName : ${itemNames}" th:value="${itemName}" th:text="${itemName}"></option>
    </select>
        <br>
        <br>
        <div class="col-md-4 text-center">
            <button type="submit" class="btn btn-primary">Craft Item</button>
        </div>
    </div>
</form>
</div>

<div id="item-result">
<h3>All items</h3>

    <div th:if="${craftItems.size() !=0}" class="row align-items-center justify-content-center">

        <div th:each="craftItem : ${craftItems}" class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title" th:text="${craftItem.getName()}"></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:each="steps : ${craftItem.getSteps()}" th:text="${steps}"></li>
            </ul>
            <br>
            <br>
        </div>


    </div>



</div>

<Style>
    #itemSelection {
        width: 20%;
    }


</Style>

</body>
</html>